name: spring-boot-docker-kubernetes

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Maven Verify
        run: ./mvnw -ntp verify

      - name: Configure Maven for Jib
        if: github.ref == 'refs/heads/main'
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml << EOF
          <settings>
            <servers>
              <server>
                <id>docker.io</id>
                <username>${{ secrets.DOCKER_USERNAME }}</username>
                <password>${{ secrets.DOCKER_PASSWORD }}</password>
              </server>
            </servers>
          </settings>
          EOF

      - name: Build & Push with Jib
        if: github.ref == 'refs/heads/main'
        run: |
          ./mvnw compile jib:build \
            -Djib.to.image=${{ secrets.DOCKER_USERNAME }}/demo-api